<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${listener}">
  <label for="listenerName">Введите имя пользователя: </label>
  <input type="text" th:field="*{listenerName}" id="listenerName"/>
<div style="color:red" th:if="${#fields.hasErrors('listenerName')}" th:errors="*{listenerName}">Username Error</div>
  <br/>

  <label for="password">Введите пароль: </label>
  <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <input type="submit" value="Sign up!"/>
  </form>

  </body>
  </html>