<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/listeners/{id}(id=${listener.getId()})}" th:object="${listener}">
    <label for="name">Enter NickName: </label>
    <input type="text" th:field="*{listenerName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('listenerName')}" th:errors="*{listenerName}">listenerName Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>