<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="photo/spoti.png" alt="Spoti Logo" width="35" height="35">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/listeners/{id}/songs(id=${listener.getId()})}">Liked Songs</a>
            </li>
        </ul>
    </div>
    <div class="ml-auto">
        <a class="nav-link" href="#" th:href="@{/listeners/{id}(id=${listener.getId()})}">Your Profile</a>
    </div>
</nav>



<h1 align="left"><a  href="/hello">Главное меню</a> </h1>
<div><a th:href="@{/listeners/{id}/songs(id=${listener.getId()})}">go to your likedSongs</a></div>

<!--<p th:text="${listener.getListenerName()}">VALUE</p>
<p th:text="${listener.getId()}">VALUE</p>
<a th:href="@{/listeners/{id}/edit(id=${listener.getId()})}">Edit</a>

<br>
<tr th:each="song : ${songs}">
    <td th:text="${song.id}">ID</td>
    <td th:text="${song.songName}">Song Name</td>
    <td th:text="${song.songYear}">Song Year</td>
    <td><img th:src="${song.photoFilePath}" alt="Album Photo" width="50" height="50"></td>
    <td>
        <audio controls>
            <source th:src="${song.getAudioFilePath()}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </td>
    <td>
        <form th:method="DELETE" th:action="@{/listenerSongs/{id}/{id2}(id=${song.getId()},id2=${listener.getId()})}">
        <input type="submit" value="Delete"/>
    </form>

    </td>
    <br>
</tr>
<form th:method="DELETE" th:action="@{/listeners/{id}(id=${listener.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a th:href="@{/listeners/{id}/addSongs(id=${listener.getId()})}">Добавить песни слушателю</a>
-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>