<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CodeHim">
    <title>Audio Player with Playlist Example </title>

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/photo/spoti.png" alt="Spoti Logo" width="35" height="35">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/hello" style="color:#000000">Home</a>
            </li>
        </ul>
    </div>
    <div class="ml-auto">
        <a class="nav-link" href="/search" style="color:#000000">Search</a>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
                Your Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/listeners/{id}/songs(id=${listener.getId()})}">Liked Songs</a>
                <a class="dropdown-item" th:href="@{/listeners/{id}/albums(id=${listener.getId()})}">Liked Albums</a>
            </div>
        </li>
    </ul>
</nav>
<main class="mt-4">
    <div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}' >
        <div class="simp-playlist">
            <ul style="text-align: center;">

                <form th:method="DELETE" th:action="@{/listenerPlaylists/{id}/{id2}(id=${listener.getId()}, id2=${playlist.getId()})}">
                    <button type="submit" class="btn btn-danger delete-button">Удалить плейлист</button>
                </form>

<!--                <form th:method="POST" th:action="@{/listenerPlaylists/addPlaylistToListener}" th:object="${listenerPlaylist}">-->
<!--                    <input type="hidden" name="albumId" th:value="${playlist.getId()}" />-->
<!--                    <th:block th:if="${playlistAdded}">-->
<!--                        <button class="btn btn-success" disabled>Плейлист добавлен</button>-->
<!--                    </th:block>-->
<!--                    <th:block th:unless="${playlistAdded}">-->
<!--                        <input type="submit" value="Добавить альбом" class="btn btn-success" />-->
<!--                    </th:block>-->
<!--                </form>-->
            </ul>
            <ul>
                <th:block th:each="song : ${songs}">
                    <li style="display: flex; align-items: center;">
                        <div class="col">
                            <img th:src="|/${song.getPhotoFilePath()}|" alt="Album Photo" width="38" height="38" style="margin-right: 10px;">
                            <span class="simp-source" th:attr="data-src='/'+${song.audioFilePath}">[[${song.songName}]]</span>
                            <span class="simp-desc" th:text="${song.artist.toString()}">Artist Name</span>
                        </div>
                        <div class="col-auto" style="display: flex; align-items: center; background-color: transparent;">
                            <div class="dropdown" style="margin-right: 10px;">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="background-color: transparent; border: none; color: green; font-weight: bold; font-size: 20px; line-height: 1;">
                                    +
                                </button>
                                <div class="dropdown-menu" style="text-align: center;">
                                    <th:block th:if="${playlists.isEmpty()}">
                                        <!-- Вывести сообщение, если плейлисты отсутствуют -->
                                        <div class="dropdown-item">
                                            <a href="/playlists/createPlaylist" style="color: #000000">Создать плейлист</a>
                                        </div>
                                    </th:block>
                                    <th:block th:unless="${playlists.isEmpty()}">
                                        <!-- Вывести элементы выпадающего списка, если есть плейлисты -->
                                        <form th:each="playlist : ${playlists}" th:method="POST" th:action="@{/playlistSongs/addSongToPlaylist2}" th:object="${playlistSong}">
                                            <th:block th:unless="${playlist.getPlaylistSongs().contains(song)}">
                                                <input type="hidden" name="songId" th:value="${song.getId()}" />
                                                <input type="hidden" name="playlistId" th:value="${playlist.getId()}" />
                                                <button type="submit" class="dropdown-item" th:text="'В плейлист: '+ ${playlist.getPlaylistName()}"></button>
                                            </th:block>
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                            <th:block th:if="${songAddedMap[song.getId()]}">
                                <form style="margin-left: 10px; margin-right: 10px;" th:method="DELETE" th:action="@{/listenerSongs/{id}/{id2}/playlist(id=${song.getId()},id2=${listener.getId()})}">
                                    <input type="hidden" name="playlistId" th:value="${playlist.getId()}" />
                                    <button type="submit" class="btn btn-danger btn-sm heart-button" style="background-color: transparent; border: none; color: green; font-weight: bold; font-size: 24px; line-height: 1; padding: 0.375rem 0.75rem;">
                                        &hearts;
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:unless="${songAddedMap[song.getId()]}">
                                <form style="margin-left: 10px; margin-right: 10px;" th:method="POST" th:action="@{/listenerSongs/addSongToListener4}" th:object="${listenerSong}">
                                    <input type="hidden" name="songId" th:value="${song.getId()}" />
                                    <input type="hidden" name="playlistId" th:value="${playlist.getId()}" />
                                    <button type="submit" class="btn btn-success heart-button" style="background-color: transparent; border: none; color: red; font-weight: bold; font-size: 24px; line-height: 1; padding: 0.375rem 0.75rem;">
                                        &hearts;
                                    </button>
                                </form>
                            </th:block>
                            <form style="margin-left: auto; margin-right: 10px;" th:method="DELETE" th:action="@{/playlistSongs/{id}/{id2}(id=${song.getId()},id2=${playlist.getId()})}">
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: transparent; border: none; color: red; font-weight: bold; font-size: 20px; line-height: 1;">×</button>
                            </form>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
        <div class="simp-footer">Made with 💖 &amp; 🙌 by <a href="https://bit.ly/sekedus" target="_blank" title="Sekedus">Sekedus</a></div>
    </div>

<!--                            <form style="margin-left: auto; margin-right: 10px;" th:method="DELETE" th:action="@{/playlistSongs/{id}/{id2}(id=${song.getId()},id2=${playlist.getId()})}">-->
<!--                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: transparent; border: none; color: red; font-weight: bold; font-size: 20px; line-height: 1;">×</button>-->
<!--                            </form>-->
</main>

<!-- <a th:href="@{/albums/{id}/addSong(id=${album.getId()})}">Добавить песню</a> -->
<br/>
<script th:src="@{/js/script.js}"  src="../js/script.js"></script>

<script th:src="@{/js/script.js}"  src="../js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    const heartButtons = document.querySelectorAll('.heart-button');

    heartButtons.forEach(button => {
        button.addEventListener('mouseenter', () => {
            if (button.style.color === 'green') {
                button.style.color = 'red';
            } else {
                button.style.color = 'green';
            }
        });

        button.addEventListener('mouseleave', () => {
            if (button.style.color === 'green') {
                button.style.color = 'red';
            } else {
                button.style.color = 'green';
            }
        });
    });
</script>
</body>

</html>