<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <form th:method="POST" th:action="@{/search}" class="mb-4">
        <div class="input-group">
            <input type="text" id="query" name="query" class="form-control" placeholder="Search" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div th:if="${not #lists.isEmpty(albums)}">
        <h2>Альбомы:</h2>
        <ul class="list-group">
            <li th:each="album : ${albums}" class="list-group-item">
                <a th:href="@{albums/{id}(id=${album.getId()})}" th:text="${album.getAlbumName()}">album</a>
            </li>
        </ul>
    </div>

    <div th:if="${not #lists.isEmpty(artists)}">
        <h2>Исполнители:</h2>
        <ul class="list-group">
            <li th:each="artist: ${artists}" class="list-group-item">
                <a th:href="@{artists/{id}(id=${artist.getId()})}" th:text="${artist.getNickName()}">artist</a>
            </li>
        </ul>
    </div>

    <div th:if="${not #lists.isEmpty(songs)}">
        <h2>Песни:</h2>
        <ul class="list-group">
            <li th:each="song:${songs}" class="list-group-item">
                <a th:href="@{songs/{id}(id=${song.getId()})}" th:text="${song.getSongName()}">song</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
