<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
  <div th:each="song : ${songs}">
    <li style="display: flex; align-items: center;">
      <!-- ... Ваш код для отображения информации о песне ... -->
      <td><img th:src="|/${song.photoFilePath}|" alt="Album Photo" width="30" height="30"></td>
      <td th:text="${song.songName}">Song Name</td>
      <!-- Форма для выбора действия -->
      <form th:object="${listenerSong}" method="POST" th:action="@{/listenerSongs/addSongToListener}">
        <select id="actionSelect" name="action" onchange="handleActionChange(this)">
          <option value="addSong">Добавить песню</option>
          <option value="addToPlaylist">Добавить в плейлист</option>
        </select>

        <!-- Вложенный выпадающий список для выбора плейлиста -->
        <select id="playlistSelect" name="playlistId" style="display: none;">
          <option value="">Выберите плейлист</option>
          <div th:each="playlist : ${playlists}">
            <option th:value="${playlist.id}" th:text="${playlist.playlistName}"></option>
          </div>
        </select>

        <!-- Остальные поля и кнопка для добавления -->
        <!-- ... -->

        <input type="submit" value="Выполнить" />
      </form>
    </li>
  </div>
</ul>
<script>
  function handleActionChange(select) {
    var actionSelect = select;
    var playlistSelect = select.parentElement.querySelector("#playlistSelect");

    // Отобразить или скрыть вложенный выпадающий список в зависимости от выбора
    if (actionSelect.value === "addToPlaylist") {
      playlistSelect.style.display = "block";
    } else {
      playlistSelect.style.display = "none";
    }
  }
</script>
</body>
</html>