<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CodeHim">
    <title>Audio Player with Playlist Example </title>

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">

</head>
<body>
<main>
    <div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}' >
        <div class="simp-playlist">
            <ul>
                <th:block th:each="song : ${songs}">
                    <li style="display: flex; align-items: center;">
                        <img th:src="|/${song.getPhotoFilePath()}|" alt="Album Photo" width="38" height="38" style="margin-right: 10px;" >
                        <span class="simp-source" th:attr="data-src='/'+${song.audioFilePath}">[[${song.songName}]]</span>
                        <span class="simp-desc" th:text="${song.artist.toString()}">Artist Name</span>
                       <form th:method="POST" th:action="@{/listenerSongs/addSongToListener}" th:object="${listenerSong}">
                            <input type="hidden" name="songId" th:value="${song.getId() != null ? song.getId() : 0}" />
                           <input type="hidden" name="albumId" th:value="${album.getId()}" />
                       <!--     <input type="hidden" name="listenerId" th:value="${listener.getId()}" />-->
                            <input type="submit" value="Добавить песню к себе в лайки"/>
                        </form>
                    </li>

                </th:block>
            </ul>
        </div>
        <div class="simp-footer">Made with 💖 &amp; 🙌 by <a href="https://bit.ly/sekedus" target="_blank" title="Sekedus">Sekedus</a></div>
    </div>

</main>

<a th:href="@{/albums/{id}/addSong(id=${album.getId()})}">Добавить песню</a>
<br/>
<script th:src="@{/js/script.js}"  src="../js/script.js"></script>


<!--
<p th:text="${album.getAlbumName()}">VALUE</p>
<p th:text="${album.getId()}">VALUE</p>

<div th:each="song:${songs}">
    <p th:text="${song.getSongName()+', '+ song.getSongYear()}">song</p>
</div>


<a th:href="@{/albums/{id}/addSong(id=${album.getId()})}">Добавить песню</a>
<br/>
<a th:href="@{/albums/{id}/edit(id=${album.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/albums/{id}(id=${album.getId()})}">
    <input type="submit" value="Delete"/>
</form>
-->
</body>

</html>